[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	ignore = untracked
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = untracked
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/glfw/glfw.git
	ignore = untracked
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
	ignore = untracked
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
	ignore = untracked
[submodule "Dependencies/tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	ignore = untracked
